*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body{
  height: 100%;
  width: 100%;
  background-color: black;
}

h1{
  color: white;
  margin: 12px;
}

button{
  padding: 10px 20px;
  background-color: blue;
  border-radius: 12px;
  border: none;
  margin: 10px;
  scale: 1;
}

button:active{
   scale: 0.9;
}