*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body{
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
}

button{
  padding: 10px 20px;
  background-color: blue;
  border: none;
  border-radius: 10px;
  margin: 20px;
  scale: 1;
}

button:active{
  scale: 0.9;
}